body{
    margin: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333;
    overflow: hidden;
    width: 25%;
    height: 100%;
    position: fixed;
}


li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}
li:nth-of-type(4) a:hover{
    background-color: green;
}
.active{
    background-color: #04AA6D;
}

@media only screen and (min-width:800px){
    li{
        float: left;
    }
    
    li:nth-of-type(4){
        float: right;
    }
    ul{
        width: 100%;
        height: inherit;
    }
}
.content{
    margin-left: 28%;
}